DB_USER='library'
DB_HOST='localhost'
DB_NAME='library'
DB_PASSWORD='Pass123'

JWT_SECRET_KEY='90PZ8Q7U6MZWI3D400U5F2F6'
JWT_TOKEN_EXPIRES_IN='172800s'
APP_SECRET_KEY='90PZ8Q7U6MZWI3D400U5F2F6'
APP_PORT=3000