DB_USER='library'
DB_HOST='localhost'
DB_NAME='library'
DB_PASSWORD='Pass123'
DB_PORT=3306

JWT_SECRET_KEY='90PZ8Q7U6MZWI3D400U5F2F6'
JWT_TOKEN_EXPIRES_IN='60000000s'
APP_SECRET_KEY='90PZ8Q7U6MZWI3D400U5F2F6'